<% layout("/layouts/boilerplate") %>
<style>
    #filters{
        display: flex;
        flex-wrap: wrap;   
        align-items: center; 
        
    }
    .filter{
        margin-top: 1vw;
        margin-right: 2.5vw;
    }
    .filter i{
        font-size: 1.3vw;
        opacity: 0.6;
        margin-left: 1vw;
        
    }
    .filter p{
        font-size: 1.2vw;
        font-weight: 400;
    }
    .filter i:hover{
        opacity: 1;
        cursor: pointer;
    }
</style>
        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
             <div class="filter">
                <div><i class="fa-solid fa-people-roof"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic citys</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amezing pools</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
            </div>
             <div class="filter">
                <div><i class="fa-solid fa-house-chimney"></i></div>
                <p>Cabins</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></i></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-sun"></i></i></div>
                <p>Mountain</p>
            </div>
             <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Cool</p>
            </div>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 mt-3">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-links">
                <div class="card col listing-card" style="width: 20rem;">
                    
                    <img src="<%=listing.image.url %>" class="card-img-top" alt="Listing_image">
                    <div class="card-img-overlay">ewrewrewrewr</div>
                    <div class="card-body">
                        <h3>
                            <%=listing.title %>
                        </h3>
                        <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
                    </div>
                </div>
                </a>
                <% } %>
        </div>
  